.container_product {
  margin: 2em;
  @media screen and (min-width: 600px) {
    display: flex;
  }
}

#img_product {
  width: 100%;
}

.product {
  @media screen and (min-width: 600px) {
    margin-left: 2em;
  }
  @media screen and (min-width: 1000px) {
    margin-left: 10em;
    width: 50%;
  }
}

.cart {
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

.product_body {
  padding-top: 2em;

  @media screen and (min-width: 1000px) {
    margin-left: 6em;
    width: 75%;
  }
}

.button {
  background: #ba7e7e;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  height: 3em;
  text-transform: uppercase;
  align-items: center;
  font-size: smaller;
  width: 70%;
  &:hover {
    background: $black;
    transition: all 0.4s ease-in-out;
  }
  @media screen and (min-width: 1000px) {
    width: 50%;
  }
}

.colors {
  display: grid;
  color: #4e4e4e;
  grid-template-columns: repeat(3, 3fr);
  width: 20%;
  grid-gap: 14px;
  margin-top: 25px;
  &:hover {
    cursor: pointer;
  }
  @media screen and (min-width: 600px) {
    margin-left: 6em;
  }
}

.pick {
  margin-top: 2em;
  margin-bottom: 0;

  @media screen and (min-width: 600px) {
    margin-left: 6em;
  }
}

.size {
  padding: 9px 20px;
  border: 1px solid #e0c9cb;
  text-align: center;

  &:hover {
    background: $black;
    color: #f5f5f5;
    transition: all 0.4s ease-in-out;
  }
}

// .focus {
//   background: $button;
//   color: #f5f5f5;
// }
