body {
  margin: 0;
}

a {
  text-decoration: none;
  color: $black;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
a,
p {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
